body{
    background-color: beige;
}
.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: xx-large;
    margin-left: 760px;
    margin-top: 0px;
    position:relative;
    width:350px
}
.title{
    animation: titleSlide 3s;
    -moz-animation: titleSlide 3s;
    animation-fill-mode: forwards;
}
@keyframes titleSlide{
    0% {
        transform: translateY(-300px);
    }
    25% {
        transform: translateY(300px);
    }
    50% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(250px);
    }
}
.play_button{
    margin-left: 0px;
    position: relative;
    width:140px;
    height:auto;
    animation: butSlide 2000ms;
    -moz-animation: butSlide 2000ms;
    animation-fill-mode: forwards;
    margin-top: 260px;
}
.play{
    height: 70px;
    width:240px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid #010000;
    background-color: #eaaf00;
    border-radius: 20px;
}
@keyframes butSlide {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(815px);
    }
}
.mute_button{
    height: 30px;
    width:140px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 5px solid #010000;
    background-color: #eaaf00;
    border-radius: 5px;
}

@keyframes chapSlide {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}
.buttons{
    width:700px;
    height: 500px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.chapter{
    height:150px;
    width:220px;
    background-color: #eaaf00;
    border: 2px solid #010000;
    border-radius: 10px;
    font-size:16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    transform: translateX(-1100px) ;
    visibility: hidden;
}
.chapter:hover{
    font-size: 105%;
    transform: translateY(5px);
}